<div class="container">
	<div class="row">
		<div class="col-xs-12 project-main">
			<div class="project-title"> {{ project.title }}</div>
			<div class="project-details"> {{ project.details }}</div>
			<div class="project-description"> 
			  <p>{{ project.description }} </p>
			</div>
		</div>
		<div class="row">
		  <div class="col-md-4"></div>
		  <div class="col-md-8"></div>
		</div>
		<div class="row">
		  <div class="col-md-4"></div>
		  <div class="col-md-4"></div>
		  <div class="col-md-4"></div>
		</div>
	</div>
</div>